<!DOCTYPE html>
<html>
<head>
  <title>Local Deal</title>
  <%= yield :head %>
  <meta name="google-site-verification" content="CW3yUE2a_2p-4-ommXEkRIKnohbNdTSVeNzEtYvZhKg" />
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag  'https://maps.googleapis.com/maps/api/js?libraries=places' %>
  <%= csrf_meta_tags %>
</head>
<body>
<!--<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>-->

<%= yield %>

</body>
</html>
